/* Write your CSS here */

.app-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #93c5fd;
}

.main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  max-width: 1100px;
}
.selection-box {
  padding-top: 40px;
  background-color: #ffffff;
  border-radius: 15px;
  padding-left: 40px;
  height: 300px;
  width: 600px;
}

.heading {
  color: black;
  font-size: 32px;
  font-family: 'Roboto';
  font-weight: bold;
}
.select-item {
  background-color: transparent;
  border: 1px solid #000000;
  padding-top: 10px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.label-text {
  font-size: 20px;
  font-family: 'Roboto';
  padding-left: 10px;
  font-weight: 500;
  color: black;
}
.capital {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
